@using MvcDemand.Models
@model HomeModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="width:100%" border="0" cellpadding="0" cellspacing="0">
    <tr style="height:40px; font-size:20px; font-weight:bold"><td style="width:100%; text-align:center" colspan="11">需求申請單未點選清單<hr /></td></tr>
    <tr style="height:35px; color:white;font-size:17px; background-color:blue; text-align:center">
        <td style="width:100px;">序號</td>
        <td style="width:100px">申請日期</td>
        <td style="width:100px">類別</td>
        <td style="width:100px">進度</td>
        <td style="width:100px">狀態</td>
        <td style="width:50px">測試<br />檔案</td>        
        <td style="width:100px">申請日期<br />到期日期</td>
        <td style="width:100px">申請帳號</td>
        <td style="width:50px">流程</td>
        <td style="width:50px">明細</td>
        <td style="width:50px">流程單</td>
    </tr>
    <tr><td colspan="11"><hr /></td></tr>
    @foreach (oDemandDetail item in Model.homeListDemand)
    {
        <tr style="height:30px; font-size:15px; color:blue">
            <td style="width:100px; text-align:left">@item.oDemandIndex</td>
            <td style="width:100px; text-align:left">@string.Format(@"{0}/{1}/{2}", item.oDemandDate.Substring(0,4), item.oDemandDate.Substring(4,2), item.oDemandDate.Substring(6,2))</td>
            <td style="width:100px; text-align:center">@item.oDemandClassTitle</td>
            <td style="width:100px; text-align:center">@item.oDemandStepTitle</td>
            <td style="width:100px; text-align:center">@item.oDemandStatusTitle</td>
            <td style="width:50px; text-align:center">@item.oDemandTest</td>            
            <td style="width:100px; text-align:center">@item.oDemandDateS <br /> @item.oDemandDateH</td>
            <td style="width:100px; text-align:center">@item.oDemandAccNumber <br /> @item.oDemandAccNumberName</td>
            <td style="width:50px; text-align:center; color:blue">@Html.ActionLink("簽到", null, null, new { Style = "color:blue", href = "/Demand/DemandDetail/Sign?fDemandIndex=" + @item.oDemandIndex + "" })</td>
            <td style="width:50px"></td>
            <td style="width:50px"></td>
        </tr>
        <tr><td colspan="11"><hr /></td></tr>
    }
</table>