
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    FormCheckValue = function () {
        if ($('#selSchStatus :selected').val() == "") {
            alert("簽核狀態不得空白!!");
            return false;
        } else {
            $('#hideSchStatus').val($('#selSchStatus :selected').val());
            $('#form1').submit();
        }        
    }


</script>
@using (Html.BeginForm("Sign", "DemandDetail", FormMethod.Post, new { id = "form1" }))
{
    @Html.Hidden("hideDemandIndex", (string)ViewBag.vDemandIndex)
    @Html.Hidden("hideDemandStep", (string)ViewBag.vDemandStep)
    @Html.Hidden("hideSchAccIndex", (string)Model.vSchAccIndex)
    @Html.Hidden("hideSchStatus", "")
    
    
    <table style="width:100%" border="0">
        <tr style="height:40px; font-size:20px; font-weight:bold"><td style="width:100%; text-align:center" colspan="4">簽核系統需求申請單<hr /></td></tr>
        <tr style="height:35px">
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">需求單編號</td>
            <td style="width:300px; text-align:left">@ViewBag.vDemandIndex</td>
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">申請進度</td>
            <td style="width:300px; text-align:left">(@Model.vDemandStep) @ViewBag.vDemandStepTitle</td>
        </tr>
        <tr style="height:35px">
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">需求單標題</td>
            <td style="width:300px; text-align:left">@Model.vDemandTitle</td>
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">需求單內容</td>
            <td style="width:300px; text-align:left">@Html.Raw(Model.vDemandNotation)</td>
        </tr>
        <tr style="height:35px">
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">申請日期</td>
            <td style="width:300px; text-align:left">@Model.vDemandDate</td>
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">申請帳號</td>
            <td style="width:300px; text-align:left">(@Model.vSchAccIndex)  @Model.vSchAccName</td>
        </tr>
        <tr style="height:35px">
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">簽核狀態</td>
            <td style="width:300px; text-align:left">@Html.DropDownList("selSchStatus", (IEnumerable<SelectListItem>)ViewBag.selDemandScheduleStatus, new { Style = "width:60%; height:30px" })

            </td>
            <td style="width:200px; text-align:center"></td>
            <td style="width:300px; text-align:left"></td>
        </tr>
        <tr style="height:35px">
            <td style="width:200px; text-align:center; background-color:#5F9EA0; color:white;font-weight:bold">簽核意見</td>
            <td style="width:700px; text-align:left" colspan="3">
                @Html.TextArea("textSchNotation", "", 5, 180, new { Style = "width:95%" })
                <script>CKEDITOR.replace('textSchNotation')</script>
            </td>
        </tr>
        <tr><td colspan="4"><hr /></td></tr>
        <tr style="height:35px">
            <td style="width:100%; text-align:center" colspan="4">
                <input type="button" id="btnSubmitF" value="完成申請簽核流程" style="width:200px; height:30px; font-weight:bold; font-size:16px" onclick="FormCheckValue();" />
                <input type="button" id="btnReturn" value="取消申請單簽核流程" style="width:200px; height:30px; font-weight:bold; font-size:16px" />
            </td>
        </tr>
    </table>
    
    
    
}

